
.noImgTestDetail{
    background-image : url("http://www.ecyseo.net/data/images/site/1379858221_04.png");
    background-repeat:no-repeat;
    text-align: center;
    border:white solid 1px;
    text-align: center;
    background-size: 90%;
    margin-left:5%;


    p{
        transform: rotate(-40deg);
        font-weight: bold;
        font-size: 10vw;
        margin-top:25vw;
        margin-right:5vw;
        color:rgba(red, 0.7);
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
        
    }
}

ion-card {
    text-align: left;
    .ImgDim, .noImgTestDetail{
        height: 80vw; 
            img{
                width: 90%;
                margin-left:5%;
            }
    }
    
}
