<ion-header>
  <ion-navbar>
    <ion-title>Detail Smartphone</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (swipe)="swipeEvent($event)">
    <div *ngIf="selectedItem.image.length>0" class="ImgDim"><img src="{{selectedItem.image}}" /></div>
    <div class="noImgTestDetail" *ngIf="!selectedItem.image.length>0">
      <p>Pas d'image</p>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{selectedItem.modele}}
      </ion-card-title>
      <p><span class="label">OS : </span>{{selectedItem.os}}</p>
      <p><span class="label">Version : </span>{{selectedItem.version}}</p>
      <p><span class="label">Sim : </span>{{selectedItem.sim ? 'Insérée' : 'Non insérée'}}</p>
    </ion-card-content>
  </ion-card>

  <p>
    <center>{{index+1}}/{{phones.length}}</center>
  </p>
</ion-content>